<launch>
  <!-- Khởi động Gazebo với new_room.world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
        args="-file $(find boe_bot_navigation)/worlds/new_room.world" 
        output="screen">
      <param name="use_sim_time" value="true" />
  </node>

  <!-- Node xuất bản transform tĩnh -->
  <node
      name="tf_footprint_base"
      pkg="tf"
      type="static_transform_publisher"
      args="0 0 0 0 0 0 base_link base_footprint 40" />

  <!-- Tải mô hình boe_bot vào Gazebo -->
  <node
      name="spawn_model"
      pkg="gazebo_ros"
      type="spawn_model"
      args="-file $(find boe_bot)/urdf/boe_bot.urdf -urdf -model boe_bot -x 0 -y 0 -z 0"
      output="screen" />

  <!-- Node giả lập joint calibration -->
  <node
      name="fake_joint_calibration"
      pkg="rostopic"
      type="rostopic"
      args="pub /calibrated std_msgs/Bool true" />
</launch>